* {
    box-sizing:border-box;
}

body {
    margin: 0;
    padding : 0;
}

img {
    width: 250px;
    margin-top: 250px
}


.nav ul li {
        margin-left: 15px;
        display:inline-block;
}

.nav ul {
     float:right;
     text-align:right;
     height:40px;
}
    
.logo {
    width: 100px;
    margin-top: 0px
}

.main-container {
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    height: 850px;
    
}

.nav-top {
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    background-color: black;
    color: aliceblue
    
}



.nav-top a {
    float: right;
    padding: 20px;
    text-align:right;

}
    
p {
    font-family: 'Dosis', sans-serif;
}
   

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    
}

.special {
    color: red;
}

@media only screen and (max-width: 640px) {
.main-container {
    background-color:aquamarine;}
    
p {
    font-family: 'Dosis', sans-serif;
}
   

h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    
    
}
    
    
    
